html, body {
  height:100%;
  overflow:hidden;
  padding:0;
  margin:0;
  border:0;
}

div.popup_container {
  position:absolute;
  background-color:#454857; 
  overflow:hidden;
  padding:3px;
  border-radius: 9px;
}

.popup_link {
  color:#454857;
}

#simulate_container {
  left: 8px;
}
div.popup_content {
  background-color:#72818B;
  padding:.5em;
  overflow:auto;
}

div.graph_content {
}

div#toolbox{
  width:11em;
  left:8px;
  margin:0;
  border:0;
  overflow:hidden;
}

button[id$="_button"]{
  width:auto;
}

.toolbox_button{
  float:left;
  margin-bottom:.2em;
  cursor:pointer;
  font-size: .8em !important;
  width:11.5em;
}

button.minimize_button {
  font-size:.5em !important;
  padding: 1px 1px 1px 1px;
  width:2.8em;
  float:right;
}

button.anal_button {
  font-size: 6px !important;
  padding-top: 4px; 
  padding-left:1px; 
  padding-right: 1px;
  padding-bottom: 1px;
  width:25px;
  float:right;
}

div#toolbar {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  margin:0;
  border:0;
}

.toolbar_button {
  margin-left:1em;
  margin-top:.5em;
  font-size:.9em !important;
}

.node-name-content {
  position:absolute;
  font-size:.9em !important;
}

input.node-name-input {
  margin:0px;
  padding:0px;
  font-size.9em;
}

div#hintbox {
  font-size:1em;
  position:absolute;
  text-align:right;
  right:0em;
  padding:3px;
  z-index:40;
}

div#hintbox.hintbox_autoselect {
  font-size:18px;
  margin:10px;
  font-family:'Verdana';
}

div.anal_cell{
  min-height:1.5em;
  float:left;
  word-wrap:break-word;
}
div.anal_row{
}
div.anal_val{
  width:60px;
  text-align:right;
}
div.anal_key_err {
  color:#FF0000;
}
div.anal_key{
  width:150px;
}
div.anal_key_short{
  width:120px;
}
div.anal_close{
  width:25px;
  margin-left:3px;
}
div.anal_data{
  width:240px;
  font-size:10pt;
}

div.editor_message_box a {
  text-decoration:underline;
}

div.editor_message_box {
  text-align:center;
  position:relative;
  top:80px;
}

a.mode_choose_anchor {
  text-decoration:underline;
  font-size:8pt;
  color:#404040;
}

.clear{
  clear:both;
}
div.toolbox_spacer {
  clear:both;
  background: #333;
  padding: 2px;
  color: #bbb;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 0px 3px #ccc;
  margin: 3px 0px;
}
div#toolbox_content {
  padding: 0px;
  overflow-x: hidden;
}
div#searchbox_div {
  margin: 0 0 5px 0;
}
input#searchbox_input {
  width: 190px;
  margin-bottom: 0px;
}
div#searchbox_div {
  position: relative;
}
span#searchbox_clear {
  position: absolute;
  top: 0px;
  right: 6px;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
  font-family: Arial;
}
div#search_results {
  color: white;
  font-size: 12px;
}
#search_results hr {
  margin: 5px 3px 5px 3px;
}
div.search_results_btn {
  height: 63px;
  width: 182px;
  margin-right: 18px;
  line-height: 15px;
}
div.search_results_btn button {
  margin: 0 3px 0 3px;
}
.search_results_btn_label {
  height: 60px;
}
.search_results_txt {
  margin: 5px 0 5px 3px;
  font-size: 13px;
}
.search_results_txt a {
  color: #c0fcfc;
  text-decoration: underline;
}
div#toolbar_zoom_div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 40px;
  text-align: right;
}
input#zoom_input {
  margin-left:0px;
  margin-right:4px;
  margin-top:6px;
  width:50px;
  text-align: center;
  vertical-align: top;
}
button.zoom_button {
  font-size:.9em !important;
  margin-right: 4px;
  margin-top: 6px;
  height: 28px;
  vertical-align: top;
}
button#toolbar_zoom_in {
  margin-right: 8px;
}
button#move {
  margin-left: 8px;
}
div.sweep_param_header {
  width:180px;
  margin-top:5px;
  margin-bottom:8px;
}

ul.ag_axis {
  background-color:none;
  list-style-type:none;
  padding:5px;
  margin:5px;
  min-height:100px;
}
li.ag_trace {
  font-size:14px;
  margin:5px;
  padding:5px;
  min-height:20px;
  /*background-color:#7F9AA5;*/
  cursor:move;
}
.sortable_placeholder {
  background-color:white;
  min-height:20px;
  margin:5px;
  padding:5px;
}

div.ag_graph {

 }
div.ag_graph_holder {
  color:#000;
  padding:10px;
  margin:10px;
  /*background-color:#273338;*/
}
div.ag_new_axis {
  float:left;
  margin:5px;
  border:5px;
  border-style:dashed; 
  text-align:center;
  font-size:15px;
  padding-top:40px;
  padding-bottom:40px;
  padding-left:10px;
  padding-right:10px;
}
div.new_graph_droppable {
  margin:10px;
  border:5px;
  border-style:dashed; 
  text-align:center;
  font-size:20px;
}
div.new_graph_droppable_text {
  margin-top:20px;
  margin-bottom:20px;
}
.droppable_hover {
  opacity:0.6;
}
div.axis_holder {
  padding:5px;
  margin:5px;
  min-width:150px;
  min-height:100px;
  float:left;
  /*background-color:#639BBF;*/
}
div.ag_graph_number{
  padding:5px;
  margin:5px;
  cursor:move;
}
.ag_graph_placeholder{
  color:#000;
  padding:10px;
  margin:10px;
  /*background-color:#273338;*/
  height:100px;
}
.jqplot-yaxis {
  min-width:80px;
}
.jqplot-y2axis {
  min-width:80px;
}
div.graph_title {
  font-size:15px;
  text-align:center;
}
label.axis_option_label {
  font-size:10px;
  display:inline-block;
  width:100px;
}
select.axis_option_select {
  width:100px;
}
#OfflineOpenDialog_container div.ignore_touch {
  padding-bottom:4px;
}
.offline_dialog_content {
  overflow-y:auto;
  overflow-x:hidden;
}
.offline_dialog_table td {
  padding:2px;
  padding-top:5px;
  padding-bottom:5px;
}
.offline_dialog_open_button, #conflict_done_button {
  float:right;
  margin-top:4px;
}
.offline_dialog_table_row_0 {
  background-color:#c3dde0;
}
.offline_dialog_table_row_1 {
  background-color:#eeeeee;
}
.offline_dialog_table_hover td {
  background-color:#efef66;
}
.offline_dialog_table_selected td {
  background-color:#efef66;
  /*dark blue #25649f*/
}
.offline_conflict_dialog_select {
  margin-top:10px;
  margin-bottom:10px;
}
td.offline_dialog_table_circuit_name {
  padding-left:10px;
}
button#save_to_workbench, button#save_insert_to_embed {
  margin-top:4px;
}
span.close_embed {
  margin-left:10px;
/*  position:relative; */
}
a#close_embed {
  font-size:28px;
  height:28px;
  position:absolute;
  top:11px;
}
#editor_container .param_block select.param_input {
  height: 28px;
}
div.upload_image_content {
  width: 300px;
}
#upload_image_done_button {
  float:right;
  margin-top:4px;
}
#upload_image_progress_bar {
/*width: 200px;*/
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#upload_image_progress_bar.loading {
  opacity: 1.0;
}
#upload_image_label {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
div.cl_modal_overlay {
  opacity:0.83;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background-color:black;
}
.tt_content {
  width:700px;
  height:300px;
}
.tt_content_left {
  width:280px;
  float:left;
  margin:40px 10px 0 50px;
}
.tt_content_right {
  width:270px;
  height:220px;
  float:left;
  margin-top:20px;
  margin-right:40px;
  font-size:14px;
}
.tt_qnum {
  font-size:16px;
  font-weight:bold;
}
.tt_q {
  font-size:14px;
  margin-top:5px;
  margin-bottom:5px;
}
div.tt_qactive {
  display:auto;
}
div.tt_qinactive {
  display:none;
}
#tt_qmsg {
  color:red;
}
#tt_content_next {
  float:right;
  position:absolute;
  bottom:190px;
  right:75px;
  font-size:30px;
}
#tt_content_next:hover {
  color:#666;
}
.cs_edit_active {
  z-index:21;
}
.cs_edit_inactive {
  z-index:20;
  background-color:rgba(200,200,200,0.2);
  border-color:gray;
  border-width:1px;
  border-style:dashed;
}
div.cs_edit_selected.cs_edit_active {
  opacity:1;
}
.cs_edit_selected {
  /*background-color:green;*/
  background-color:red;
  opacity:0.5;
}
.cs_edit_highlighted {
  background-color:yellow;
  opacity:0.5;
}
input.cs_pinName_input {
  width:40px;
}
input.cs_pinNumber_input {
  width:30px;
}
input.cs_rectLabel_input {
  width:100px;
}
div.cs_pin_drop_zone_active {
  /*background-color:rgba(81,163,81,0.5);*/
  background-color:rgba(255,255,0,0.5);
}
div.cs_pin_drop_zone_inactive {
  /*background-color:red;*/
  background-color:rgba(238,232,170,0.5);
}
div.cs_pin_drop_zone {
  /*opacity:0.5;*/
  z-index:21;
  position:absolute;
  border-color:gray;
  border-width:1px;
  border-style:dashed;
}
div.cs_overlay_select {
  opacity:0.5;
  background-color:red;
  position:absolute;
}
td.cs_box_pin_name {
  width:120px;
  text-align:center;
}
td.cs_box_pin_annotation {
  width:120px;
}
.cs_pin_annotation_choose {
  width:120px;
}
.register_div {
  height:140px;
  margin-top:5px;
}
.register_desc {
  float:left;
  width:230px;
  font-size:16px;
  margin-right:20px;
}
.already_registered_link {
  margin-top:8px;
  font-size:13px;
}
.already_registered_link a {
  color:#0000cc;
}
.register_form {
  width:400px;
}
.upgrade_div {
  height:50px;
}
.upgrade_desc {
  float:left;
  width:250px;
}
.upgrade_desc a {
  color:#333;
  text-decoration: underline;
}
#register_div_button {
}
.upgrade_right_div {
  float:right;
  position:relative;
  right:0px;
  top:0px;
}
.register_dialog_done_div {
  height:30px;
}
.register_dialog_done_desc {
  float:left;
}
.register_dialog_done_right_div {
  float:left;
  position:relative;
  right:0px;
}
.register_dialog hr {
  border-top: 0px;
}
.welcome_div a {
  color: #333;
  text-decoration:underline;
}
.anal_key_inactive {
  color:#979797;
}
#paramBoxContentLeft {
  float:left;
  width:240px;
}
#paramBoxContentRight {
  float:right;
  width:380px;
}
#editor_container table.part_names tr:hover {
  background:#f0f06e;
}
#editor_container table.part_names tr td {
  padding:3px;
}
.partNameDiv {
  margin:5px;
  margin-top:9px;
  float:left;
}
.partNameBtnDiv {
  margin:0px;
  float:right;
}
button.btnPartNameDatasheet, button.btnPartNameBuy {
  font-size:0.9em;
}
.customDeviceModelHeading {
  color:#eee;
  font-size:13px;
  font-style:italic;
  margin:5px;
  margin-top:9px;
  float:left;
}
.customDeviceModelBtnDiv {
  margin:0px;
  float:right;
}
.btnRemoveDeviceModel {
  margin:5px;
}
